BasedOnStyle: Google

Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty

PointerAlignment: Left
ReferenceAlignment: Left

SortIncludes: CaseSensitive
IncludeBlocks: Regroup

SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false

AccessModifierOffset: -4
NamespaceIndentation: All

SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 1
EmptyLineBeforeAccessModifier: LogicalBlock   # 可选，class 内 public/private 之间留白